html,
body,
div {
    margin: 0 auto;
    padding: 0 auto;
}

html,
body {
    width: 100%;
    height: 100%;
}

.report{
    margin-top:5%;
    height:100%;
}

/*.list {
    display: inline-block;
    width: 33%;
    ;
    height: 400px;
    background-color: red;
}*/

.box {
    width: 50%;
    padding: 20px;
    margin: 20px auto;
    background-color: #f0f3f9;
    text-align: justify;
}

.list {
    width: 30%;
    height:100%;
    display: inline-block;
    padding-bottom: 20px;
    text-align: center;
    vertical-align: top;
}