.resize-base {
    position:relative;
    height:100%;
    width:100%;
}
.resize-elem {
    position:absolute;
    height:100%;
    width:5px;
    left:100%;
    margin-left:0;
    top:0;
    cursor:col-resize;
}
.resize-text {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}